
/* .container {
    display: flex;
    align-items: center;
    
  } */

  body{
    background-color: rgb(2, 2, 69);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
  }
    
.jumbotron {
  background-color:rgb(2, 2, 69);
}
.col-4{
  padding-top: 70px;
}