
/* .container {
    display: flex;
    align-items: center;
    
  } */

  body{
    background-color: rgb(2, 2, 69);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
    /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap'); */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
* {
    font-family:sans-serif, calibri;
    box-sizing: content-box;
    color: rgb(255, 85, 0);
   
 }
.jumbotron {
  background-color:rgb(2, 2, 69);
}
