
/* .container {
    display: flex;
    align-items: center;
    
  } */

  body{
    background-color: rgb(2, 2, 69);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:palevioletred !important;
  }
    
.jumbotron {
  background-color:rgb(2, 2, 69) !important;
  /* text-align: left !important; */
}
.col-4{
  padding-top: 70px;
}
h1{
  font-family: cursive !important;
  font-style: italic;
}