/* :root {
    --mainGray: #f00909;
    --darkPurple: #040632;
    --orage: #eda653;
    --lightPurple: #390de973; 
 } */


body {
background-color:rgb(2, 2, 69) !important; 
/* background-color: rgb(224, 128, 171); */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: whitesmoke;

}
.navbar{
   background-color:palevioletred;
   color: rgb(2, 2, 69);
   font-family: cursive !important;
   font-weight: 700;
   font-size: 30px;
   
  
}
.NavLink{
   color: rgb(0, 255, 128) !important;
}
/* .navbar-nav{
   display: flex; 
   flex-direction: row;
   justify-content: space-around;
   font-size: 30px;
} */
