/* :root {
    --mainGray: #f00909;
    --darkPurple: #040632;
    --orage: #eda653;
    --lightPurple: #390de973; */
/* } */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

* {
    font-family:sans-serif, calibri;
    box-sizing: content-box;
    color: rgb(168, 14, 6); 
   /* font-style: italic; */
    }

body {
background-color:rgb(13, 13, 58);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

/* .navbar-nav{
   display: flex; 
   flex-direction: row;
   justify-content: space-around;
   font-size: 30px;
} */
